<div>
    <header>
        <div class="overlay"></div>
        <div class="brand-logo">
            <a href="/" class="logo">Enaland <span class="red-text">Live Score</span>
                <!-- <i class="fas fa-futbol blinker"></i> -->
            </a>
        </div>
    </header>


    <div class="threeSectionalLayout">
        <!-- center column -->
        <main>
            <!-- ads -->
            <div>
                <iframe scrolling='no' frameBorder='0'
                    style='padding:0px; margin:0 10px; border:0px;border-style:none;border-style:none;' width='320'
                    height='50'
                    src="https://wlbet9ja.adsrv.eacdn.com/I.ashx?btag=a_150622b_702c_&affid=7595&siteid=150622&adid=702&c="></iframe>
                <iframe scrolling='no' frameBorder='0'
                    style='padding:0px; margin:0 10px; border:0px;border-style:none;border-style:none;' width='320'
                    height='50'
                    src="https://wlbet9ja.adsrv.eacdn.com/I.ashx?btag=a_150622b_700c_&affid=7595&siteid=150622&adid=700&c="></iframe>
            </div>
            <!-- nav -->
            <div class="nav">
                <div class="actions m-auto">
                    <a href="/yesterday" class="btn btn-secondary">Yesterday</a>
                    <a href="/" class="btn btn-dark">Today</a>
                    <a href="/tomorrow" class="btn btn-dark">Tomorrow</a>
                </div>
                <div class="search">
                    <input type="search" placeholder="search team" id="searchTeam" class="rounded">
                    <button class="btn btn-primary" id="find">
                        <i class="fas fa-search"></i>
                        find</button>
                </div>
            </div>
            <div class="table">
                <div class="league-role">
                    <!-- <div class="title">
                            <h2>England - Championship</h2>
                            <hr>
                        </div> -->
                    <div class="matches" id="matches1">
                        <% matches.forEach(l => { %>
                        <div class="match" key="<%= l.event_key %>">
                            <div class="event-info">
                                <span class="green league-name">
                                    <p class="normal" style="background-color:<%= l.color %>">
                                        <%= abbreviate(l.league_name)%></p>
                                </span>
                            </div>
                            <div class="game-time">
                                <p class="normal">
                                    <%= l.event_status ? l.event_status.replace(/half time/gi,"HT").replace(/finished/gi, "FT").replace(/postponed/gi, "PP") : l.event_time %>
                                </p>
                            </div>
                            <div class="home gf">
                                <p class="normal"><%= l.event_home_team %></p>
                            </div>
                            <div class="score-wrap2"><a onclick="openLink()" href="/info/<%= l.event_key %>">
                                    <%= l.event_final_result %>
                                    <% if(l.event_halftime_result){ %>
                                    <span class='dark'> ( <%= l.event_halftime_result %> ) </span>
                                    <% } %>
                                </a>
                            </div>
                            <div class="away gf">
                                <p class="normal"><%= l.event_away_team %></p>
                            </div>
                            <div></div>
                        </div>
                        <%})%>
                    </div>
                </div>
            </div>
        </main>

        <!-- ads section -->
        <section class="ads-section">
            <hr>

            <div id="newsSlide">
                <!-- ADS -->
                <div>
                    <iframe scrolling='no' frameBorder='0'
                        style='padding:0px; margin:0px; border:0px;border-style:none;border-style:none;' width='320'
                        height='50'
                        src="https://wlbet9ja.adsrv.eacdn.com/I.ashx?btag=a_150622b_701c_&affid=7595&siteid=150622&adid=701&c="></iframe>
                    <script type='text/javascript'
                        src="https://wlbet9ja.adsrv.eacdn.com/S.ashx?btag=a_150622b_700c_&affid=7595&siteid=150622&adid=700&c="></script>
                    <iframe scrolling='no' frameBorder='0'
                        style='padding:0px; margin:0px; border:0px;border-style:none;border-style:none;' width='320'
                        height='480'
                        src="https://wlbet9ja.adsrv.eacdn.com/I.ashx?btag=a_150622b_46c_&affid=7595&siteid=150622&adid=46&c="></iframe>
                </div>
            </div>

            <hr>

            <hr>
        </section>
    </div>
</div>

<script src="/assets/js/index2.js" type="module"></script>
<script>

</script>